<form action="">
    <div class="input-group">
        <div>
            <label for="">initial investment</label>
            <input type="number">
        </div>
        <div>
            <label for="">annual investment</label>
            <input type="number">
        </div>
    </div>
    <div class="input-group">
        <div>
            <label for="">expected return</label>
            <input type="number">
        </div>
        <div>
            <label for="">duration</label>
            <input type="number">
        </div>
    </div>

    <button>calculate</button>
</form>
